---
title: Tech-Event
description: Cyber Resilience und Data Act
eventsURL: https://www.scs.ch/events/
eventDetailURL: https://www.scs.ch/event/tech-event-cyber-resilience-und-data-act/
bodyClass: bg-white h-full
htmlClass: bg-white h-full
---

<x-main>
  <block name="template">
    <table class="w-full h-full font-sans">
      <tr>
        <td align="center" class="bg-white align-middle">
          <table class="w-600 sm:w-full">
            <!-- Header -->
            <tr>
              <td class="py-8 px-24 text-right sm:pb-12">
                <p class="text-blue-700 text-sm font-sans leading-20"><a href="{{ page.eventDetailURL }}"
                    class="text-blue-700 no-underline hover:underline">Im Browser anzeigen</a> • <a
                    href="{{ page.eventsURL }}" class="text-blue-700 no-underline hover:underline">Alle Events
                    anzeigen</a></p>
              </td>
            </tr>
            <!-- Logo -->
            <tr>
              <td class="py-28 px-24 text-left2">
                <a href="https://www.scs.ch" target="_blank" rel="noopener noreferrer">
                  <img src="images/logo-scs.png" width="154" height="48" alt="Super Computing Systems"
                    class="text-red-500 text-lg font-bold no-underline">
                </a>
              </td>
            </tr>
            <!-- Tech-Event -->
            <tr>
              <td class="text-left p-24">
                <h1 class="font-bold text-black text-xl leading-40 m-0">Tech-Event</h1>
              </td>
            </tr>
            <tr>
              <td class="text-left p-24 py-0">
                <a href="https://www.scs.ch" target="_blank" rel="noopener noreferrer"
                  class="text-blue-700 text-xxl leading-64 font-bold no-underline">
                  Cyber Resilience und Data Act
                </a>
              </td>
            </tr>
            <!-- Content  -->
            <tr>
              <td class="text-left p-24">
                <table>
                  <tr>
                    <td class="text-blue-700 bg-blue-100 font-bold m-0 px-15 rounded-lg w-auto">
                      <p>Dienstag, 6. Mai 2025 um 17.00 Uhr</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="bg-white px-24 text-left">
                <a href="https://www.scs.ch" target="_blank" rel="noopener noreferrer">
                  <img src="images/hero-cra.jpg" width="100%" alt="{{ page.description }}"
                    class="text-blue-700 text-lg font-bold no-underline">
                </a>
                <div class="leading-32">&zwnj;</div>
                <p class="text-black text-base font-serif leading-26">Hallo Guido</p>
                <p class="text-black text-base font-serif leading-26">Wir freuen uns, dich zu unserem nächsten
                  Tech-Event Cyber Resilience und Data Act einzuladen am Dienstag,6. Mai 2025 um 17 Uhr.</p>
                <p class="text-black text-base font-serif leading-26">Hersteller von vernetzten Geräten müssen künftig
                  die Anforderungen mehrerer neuer Richtlinien erfüllen: den Cyber Resilience Act, den Data Act und die
                  neue Funkgeräterichtlinie. Wen betrifft es? Wie lassen sich die Anforderungen am effizientesten
                  umsetzen? </p>
                <p class="text-black text-base font-serif leading-26"><b>Alexander Schmid</b> wird die Richtlinien aus
                  rechtlicher Sicht einordnen. <b>David Gschwend</b> zeigt anhand eines konkreten Projekts, wie IT-Security
                  umgesetzt werden kann. <b>Katrin Blattner-Kempin</b> legt den Fokus auf die Gebäudetechnik - was die neuen
                  Richtlinien hier bedeuten.</p>
              </td>
            </tr>
            <!-- Button -->
            <component src="src/components/button.html">
              Jetzt anmelden &rarr;
            </component>
            <tr>
              <td class="bg-white px-24 text-left">
                <p class="text-black text-base font-serif leading-26">Wir würden uns freuen, dich bei uns zu begrüssen!
                </p>
                <p class="text-black text-base font-serif leading-26">Beste Grüsse<br> Deine SCS</p>
              </td>
            </tr>
            <tr>
              <td align="center" class="sm:px-24">
                <table class="w-3/4 sm:w-full">
                  <tr>
                    <td class="bg-white p-24 text-center">
                      <img src="images/know-how-1.png" width="160" alt="• • •"
                        class="text-blue-700 text-lg font-bold no-underline">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- Programm -->
    <table class="w-full h-full font-sans">
      <tr>
        <td align="center" class="bg-blue-100 align-middle">
          <table class="w-600 sm:w-full">
            <tr>
              <td class="text-left p-32 sm:p-24 sm:rounded-none">
                <h2 class="font-bold text-black text-xl leading-40 mt-16 ">Programm</h2>
                <p class="text-black text-base font-serif leading-26">Dienstag, 30. November 2021 im Technopark und
                  online</p>
                <table class="w-full sm:w-full">
                  <tr>
                    <td class="py-8 text-left align-top w-1/4" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">17:00 Uhr</p>
                    </td>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">Begrüssung</p>
                      <p class="text-black text-base font-sans leading-26 m-0">David Gschwend, Supercomputing
                        Systems AG</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">&nbsp;</p>
                    </td>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">Referate</p>
                      <p class="text-black text-base font-sans leading-26 m-0">Cyber Resilience und Data Act, 
                        Alexander Schmid, Partner bei epartners Rechtsanwälte.</p>
                      <p class="text-black text-base font-sans leading-26 m-0">Gebäudetechnik - was die neuen Richtlinien hier bedeuten, 
                        Katrin Blattner-Kempin, Supdercomputing Systems AG</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">18:00 Uhr</p>
                    </td>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">Apéro</p>
                    </td>
                  </tr>
                </table>
                <table class="w-full">
                  <component src="src/components/button.html">
                    Jetzt anmelden &rarr;
                  </component>
                </table>
                <p class="text-center text-black text-base font-serif leading-26">Oder Anmeldung per Mail bis 1. Mai
                  2022 an info@scs.ch</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- Footer -->
    <table class="w-full h-full font-sans">
      <tr>
        <td align="center" class="bg-gray-800 align-middle">
          <table class="w-600 sm:w-full">
            <component src="src/components/footer.html"></component>
        </td>
      </tr>

    </table>
    </td>
    </tr>
    </table>
  </block>
</x-main>