---
title: Confirm your signup
bodyClass: bg-white h-full
htmlClass: bg-white h-full
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full h-full font-sans">
      <tr>
        <td align="center" class="bg-white align-middle">
          <table class="w-600 sm:w-full">
            <!-- Header -->
            <tr>
              <td class="py-8 px-24 text-right sm:pb-12">
                <p class="text-blue-700 text-sm font-sans leading-20">Im Browser anzeigen • Alle Events anzeigen</p>
              </td>
            </tr>
            <!-- Logo -->
            <tr>
              <td class="py-28 px-24 text-left2">
                <a href="https://www.scs.ch" target="_blank" rel="noopener noreferrer">
                  <img src="images/logo-scs.png" width="154" alt="Super Computing Systems">
                </a>
              </td>
            </tr>
            <!-- Tech-Event -->
            <tr>
              <td class="text-left p-24 py-0">
                <a href="https://www.scs.ch" target="_blank" rel="noopener noreferrer">
                  <img src="images/header-tech-event.png" width="100%" alt="{{ page.feed.title }}">
                </a>
              </td>
            </tr>
            <!-- Content  -->
            <tr>
              <td class="text-left p-24">
                <h1 class="font-bold text-black text-xl leading-40 m-0">Digital Services bei V-ZUG IoT für
                  Haushaltsgerate
                </h1>
              </td>
            </tr>
            <tr>
              <td class="bg-white px-24 pt-12 text-left">
                <p class="inline-block text-blue-700 bg-blue-100 font-bold m-0 p-15 rounded-lg">Dienstag, 30.
                  November 2021, 17:00 Uhr</p>
                <div class="leading-32">&zwnj;</div>
                <a href="https://www.scs.ch" target="_blank" rel="noopener noreferrer">
                  <img src="images/hero.jpg" width="100%" alt="{{ page.feed.title }}">
                </a>
                <div class="leading-32">&zwnj;</div>
                <p class="text-black text-base font-serif leading-26">Liebe Technologie-Interessierte</p>
                <p class="text-black text-base font-serif leading-26">Wir freuen uns, Sie heute zum ersten SCS
                  Tech-Event im 2022 einladen
                  zu können. Dieser findet vor Ort im Technopark und online statt.</p>
                <p class="text-black text-base font-serif leading-26">Digitalisierung ermöglicht neue
                  Geschäftsmöglichkeiten: Hersteller
                  können ihrer Kundschaft ‘Digitale Services’ anbieten und direkter mit ihnen interagieren. Diese
                  Vernetzung gibt dem Hersteller einen Einblick in die Verwendung seiner Produkte sowie das Verhalten
                  und die Bedürfnisse der Nutzer:innen. Das gewonnene Wissen fliesst direkt in die Entwicklung neuer
                  Produkte ein.</p>
              </td>
            </tr>
            <!-- Button -->
            <component src="src/components/button.html">
              Jetzt anmelden &rarr;
            </component>
            <tr>
              <td class="bg-white p-24 text-left">
                <p class="text-black text-base font-serif leading-26">Digitalisierung ermöglicht neue
                  Geschäftsmöglichkeiten: Hersteller
                  können ihrer Kundschaft ‘Digitale Services’ anbieten und direkter mit ihnen interagieren. Diese
                  Vernetzung gibt dem Hersteller einen Einblick in die Verwendung seiner Produkte sowie das Verhalten
                  und die Bedürfnisse der Nutzer:innen. Das gewonnene Wissen fliesst direkt in die Entwicklung neuer
                  Produkte ein.</p>
              </td>
            </tr>
            <tr>
              <td align="center" class="sm:px-24">
                <table class="w-3/4 sm:w-full">
                  <tr>
                    <td class="bg-white p-24 text-center">
                      <p class="text-blue-700 text-base font-serif italic leading-26">Digitalisierung ermöglicht neue
                        Wir freuen uns darauf, Sie in der SCS oder online bei uns begrüssen zu dürfen.</p>
                      <img src="images/know-how-1.png" width="160" alt="{{ page.feed.title }}">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- Programm -->
    <table class="w-full h-full font-sans">
      <tr>
        <td align="center" class="bg-blue-100 align-middle">
          <table class="w-600 sm:w-full">
            <tr>
              <td class="text-left p-32 sm:p-24 sm:rounded-none">
                <h2 class="font-bold text-black text-xl leading-40 mt-16 ">Programm</h2>
                <p class="text-black text-base font-serif leading-26">Dienstag, 30. November 2021 im Technopark und
                  online</p>
                <table class="w-full sm:w-full">
                  <tr>
                    <td class="py-8 text-left align-top w-1/4" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">17:00 Uhr</p>
                    </td>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">Begrüssung</p>
                      <p class="text-black text-base font-sans leading-26 m-0">Christof Sidler, Super Computing
                        Systems AG</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">&nbsp;</p>
                    </td>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">Referate</p>
                      <p class="text-black text-base font-sans leading-26 m-0">Digital Services bei V-ZUG<br>Dr.
                        Dominik Franke</p>
                      <p class="text-black text-base font-sans leading-26 m-0">Sichere und vetrauenswürdige IoT
                        Lösungen<br>Jérôme Stettler</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">18:00 Uhr</p>
                    </td>
                    <td class="py-8 text-left align-top" style="border-bottom: solid 1px #DADADA;">
                      <p class="text-black text-base font-sans font-bold leading-26 m-0">Apéro</p>
                    </td>
                  </tr>
                </table>
                <table class="w-full">
                  <component src="src/components/button.html">
                    Jetzt anmelden &rarr;
                  </component>
                </table>
                <p class="text-center text-black text-base font-serif leading-26">Oder Anmeldung per Mail bis 23. März
                  2022 an info@scs.ch</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- Programm -->
    <table class="w-full h-full font-sans">
      <tr>
        <td align="center" class="bg-blue-200 align-middle">
          <table class="w-600 sm:w-full">
            <!-- Anreise -->
            <tr>
              <td class="text-left p-32 sm:p-24 sm:rounded-none">
                <h3 class="font-bold text-black text-l leading-26 mt-16 ">Anfahrt mit offentlichen Verkehrsmittel</h3>
                <ul class="mb-32 pl-24 font-serif">
                  <li class="mb-8 pl-8 leading-26">Tram 4 ab Zürich Hauptbahnhof (Sihlquai oder Bahnhofquai) Richtung
                    Bahnhof Altstetten bis Technopark (10 Min. Fahrzeit)</li>
                  <li class="mb-8 pl-8 leading-26">Div. S-Bahnen ab Zürich Hauptbahnhof (Gleis 41/42 im Sous-sol) bis
                    Bahnhof Hardbrücke (2 Min. Fahrzeit), 5 Min. Fussweg zum Technopark.</li>
                  <li class="mb-8 pl-8 leading-26">SBB Fahrplan zur SCS</li>
                </ul>
                <h3 class="font-bold text-black text-l leading-26 mt-16 ">Anfahrt privat</h3>
                <ul class="mb-32 pl-24 font-serif">
                  <li class="mb-8 pl-8 leading-26">Autobahnausfahrt Zürich (A1), Pfingstweidstrasse, einbiegen
                    Technoparkstrasse in die Tiefgarage</li>
                  <li class="mb-8 pl-8 leading-26">Gerne reservieren wir einen Besucherparkplatz für Sie.</li>
                  <li class="mb-8 pl-8 leading-26">Routenplaner</li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- Programm -->
    <table class="w-full h-full font-sans">
      <tr>
        <td align="center" class="bg-gray-800 align-middle">
          <table class="w-600 sm:w-full">
            <component src="src/components/footer.html"></component>
        </td>
      </tr>

    </table>
    </td>
    </tr>
    </table>
  </block>
</extends>
