<tr>
  <td align="center" class="text-center px-60 py-32 sm:p-16 text-white bg-gray-800 text-16 leading-28">
		<p class="cursor-default">
		<a href="https://maizzle.com/docs/" class="text-white no-underline hover:underline">Supercomputing Systems
			AG</a> &bull;
		Technoparkstrasse 1 &bull;
		CH-8005 Zürich &bull;
		<a href="tel:+41434561600" class="text-white no-underline hover:underline">Phone +41 43 456 16 00</a> &bull;
		<a href="https://www.scs.ch" class="text-white no-underline hover:underline">www.scs.ch</a> &bull;
		<a href="mailto:info@scs.ch" class="text-white no-underline hover:underline">info@scs.ch</a> &bull;
		<a href="https://www.scs.ch" class="text-white no-underline hover:underline">Newsletter abmelden</a>
		</p>
  </td>   
</tr>
