<tr>
  <td align="center" class="text-center px-60 py-32 sm:p-16 text-white text-16">
		<p class="leading-28">
			<a href="https://www.facebook.com/SupercomputingSystems/" class="p-4 text-white no-underline">
				<img src="images/facebook.png" width="30" height="30" alt="facebook">
			</a>
			<a href="https://www.linkedin.com/company/super-computing-systems" class="p-4 text-white no-underline">
				<img src="images/linkedin.png" width="30" height="30" alt="linkedin">
			</a>
			<a href="https://twitter.com/SCS_AG" class="p-4 text-white no-underline">
				<img src="images/twitter.png" width="30" height="30" alt="twitter">
			</a>
		</p>
		<p class="cursor-default leading-28">
			<a href="https://maizzle.com/docs/" class="text-white no-underline hover:underline">Supercomputing Systems
				AG</a> &bull;
			Technoparkstrasse 1 &bull;
			CH-8005 Zürich &bull;
			<a href="tel:+41434561600" class="text-white no-underline hover:underline">Phone +41 43 456 16 00</a> &bull;
			<a href="https://www.scs.ch" class="text-white no-underline hover:underline">www.scs.ch</a> &bull;
			<a href="mailto:info@scs.ch" class="text-white no-underline hover:underline">info@scs.ch</a> &bull;
			<a href="https://www.scs.ch" class="text-white no-underline hover:underline">Newsletter abmelden</a>
		</p>
  </td>   
</tr>
